# General
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
secrets.tfvars
crash.log
.terraform/
*.plan
*.tfplan
*.tfplan.json

# Local .terraform directories
**/.terraform/*

# Exclude override files as they are usually used for local development overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

